<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
   <script src="angular.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	 <script src="ngFacebook.js"></script>
	
     <script src="index.js"></script>
    <title>Gentelella Alela! | </title>
</head>
  <body class="nav-md" ng-controller="myCtrl">
  <button ng-click="myFunction()"> Click Me</button>
  <button ng-click="loginToggle()"> Login</button>
  
  </body>
  </html>